<div class="container">
  <div class="contact-us-wrapper">
    <div class="contact-text-wrapper">
      <h2 class="contact-ttl">Contact us!</h2>
      <p class="contact-main-info">
        The support staff and customer service are available to help you with
        any questions or needs you might have. Just drop us a line.
      </p>
      <div class="contact-add-info">
        <p class="add-info-text">
          This site is owned and operated by Kode Tech Solutions LTD
        </p>
        <ul class="contact-list">
          <li class="contact-item">
            <span class="item-span">Phone:</span>
            <a class="contact-link" href="tel:+442038857261">442038857261</a>
          </li>
          <li class="contact-item">
            <span class="item-span">Email:</span
            ><a class="contact-link" href="mailto:help@google.com"
              >help@google.com</a
            >
          </li>
          <li class="contact-item">
            <span class="item-span">Address:</span>
            <p class="contact-address">
              Trust Company Complex, Ajeltake Road, Ajeltake Island, Majuro,
              Republic of the Marshall Islands, MH 96960
            </p>
          </li>
        </ul>
      </div>
    </div>

    <form class="form-wrapper">
      <div class="inputs-cont">
        <div class="input-wrapper">
          <input
            class="input"
            id="name"
            name="name"
            type="text"
            placeholder="Name"
          />
          <span class="success-message" id="successName"></span>
          <span class="err-message" id="errName">Please enter your name</span>
        </div>

        <div class="input-wrapper">
          <input
            class="input"
            id="email"
            name="email"
            type="email"
            placeholder="Email"
          />
          <span class="success-message" id="successEmail"></span>
          <span class="err-message" id="errEmail">Incorrect email type</span>
        </div>

        <div class="input-wrapper">
          <textarea
            class="input input-comment"
            id="comment"
            name="comment"
            placeholder="Message"
          ></textarea>
          <span class="success-message" id="successComment"></span>
          <span class="err-message" id="errComment">
            Please enter a message
          </span>
        </div>
      </div>
      <button class="form-btn" type="submit">Send</button>
    </form>
  </div>
</div>
