<div class="container">
  <div class="footer-wrapper">
    <div class="logo-wrapper">
      <p class="logo logo-footer">LOGO</p>
    </div>
    <div class="footer-nav">
      <a href="">How it works</a>
      <a href="">About</a>
      <a href="">Instructions</a>
      <a href="">Accounts</a>
      <a href="">Platforms</a>
      <a href="">Contact</a>
    </div>
    <div class="footer-main-info">
      <div class="subsection">
        <h4 class="subsect-ttl">Information and high risk warning:</h4>
        <p class="subsect-text">
          Trading with foreign exchange (FX), contract for differences (CFDs)
          and precious metals carries a high level of risk that may not be
          suitable for all investors. Leverage creates additional risk and loss
          exposure. Before you decide to trade foreign exchange or contract for
          differences, carefully consider your investment objectives, experience
          level, and risk tolerance.
        </p>
      </div>
      <div class="subsection">
        <h4 class="subsect-ttl">Legal disclaimer:</h4>
        <p class="subsect-text">
          Forex trading entails significant risks and is not appropriate for all
          investors. The possibility of incurring substantial losses should be
          taken into account. It is therefore important to understand the
          possible consequences of investing. Traders should weigh their earning
          potential against the risks involved and act accordingly. Interactive
          Trade Ltd operating under brand and using domenLink domain within the
          European Economic Area.
        </p>
      </div>
    </div>
    <ul class="add-info-list">
      <li class="add-info-item">Copyright 2020, All Right Reserved</li>
      <li>
        <a class="footer-link" href="">Terms and Conditions</a>
      </li>
      <li>
        <a class="footer-link" href="">Privacy Policy</a>
      </li>
      <li>
        <a class="footer-link" href="">Risk Warnings</a>
      </li>
      <li>
        <a class="footer-link" href="">Anti-Money Laundering</a>
      </li>
    </ul>
  </div>
</div>
