<header>
  <div class="container">
    <div class="header-section">
      <div class="logo-nav">
        <p class="logo">LOGO</p>
        <div class="navigation">
          <a href="">How it works</a>
          <a href="">About</a>
          <a href="">Instructions</a>
          <a href="">Accounts</a>
          <a href="">Platforms</a>
          <a href="">Contact</a>
        </div>
      </div>
      <div class="btns-wrapper">
        <div class="lang-button">
          En
          <svg class="lang-arrow" width="20" height="20">
            <use href="../img/sprite.svg#icon-arrow-down" />
          </svg>
        </div>
        <button class="sign-in-btn" type="submit">Sign in for free</button>
        <svg class="burger" width="24" height="24">
          <use href="../img/sprite.svg#icon-burger-menu" />
        </svg>
      </div>
    </div>
  </div>

  <!-- <div class="burger-menu">
    <div class="navigation">
        <a href="">How it works</a>
        <a href="">About</a>
        <a href="">Instructions</a>
        <a href="">Accounts</a>
        <a href="">Platforms</a>
        <a href="">Contact</a>
      </div>
  </div> -->
</header>
