<header>
  <div class="container">
    <div class="header-section">
      <div class="logo-nav">
        <p class="logo">LOGO</p>
        <ul class="navigation">
          <li><a href="">How it works</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Instructions</a></li>
          <li><a href="">Accounts</a></li>
          <li><a href="">Platforms</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="btns-wrapper">
        <div class="lang-button">
          En
          <svg class="lang-arrow" width="20" height="20">
            <use href="/img/sprite.svg#icon-arrow-down" />
          </svg>
        </div>
        <button class="sign-in-btn" type="submit">Sign in for free</button>
        <svg class="burger" width="24" height="24">
          <use href="/img/sprite.svg#icon-burger-menu" />
        </svg>
      </div>
    </div>
  </div>

  <div class="burger-overlay">
    <div class="burger-modal">
      <svg class="close-icon" width="30" height="30">
        <use href="/img/sprite.svg#icon-close" />
      </svg>
      <div class="burger-lang-btn">
        En
        <svg class="lang-arrow" width="20" height="20">
          <use href="/img/sprite.svg#icon-arrow-down" />
        </svg>
      </div>

      <ul class="burger-nav">
        <li><a href="">How it works</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Instructions</a></li>
        <li><a href="">Accounts</a></li>
        <li><a href="">Platforms</a></li>
        <li><a href="">Contact</a></li>
      </ul>

      <button class="sign-in-burger" type="submit">Sign in for free</button>
    </div>
  </div>
</header>
