<div class="container">
  <div class="hero-wrapper">
    <div>
      <h1 class="hero-ttl">Trade everywhere. Invest here!</h1>
      <p class="hero-text">
        We provide only the best trading software. The trading terminal
        MetaTrader4 is the most popular and convenient platform for access to
        global exchanges. You can work anywhere.
      </p>
      <button class="hero-btn">Start trading</button>
    </div>
    <img class="hero-img" src="../img/hero-desktop.png" alt="Hero image" />
  </div>
</div>
