<div class="container">
  <div class="reviews-wrapper">
    <h2 class="reviews-ttl">
      People love
      <span class="span">Big <span class="invest-span">Invest</span></span>
    </h2>
    <div class="review-info">
      <div class="person-info">
        <img class="photo" src="../img/photo.png" alt="Reviewer's photo" />
        <div>
          <p class="name">Albert Abello</p>
          <p class="job-position">Director of Growth</p>
        </div>
      </div>
      <svg class="quotes-icon" width="33" height="27">
        <use href="../img/sprite.svg#icon-quote" />
      </svg>
      <p class="review">
        This magical product actually works! It has radically changed the way we
        build our audiences. Increasing new customer sales by 6x in our most
        mature market.
      </p>
      <div class="data-wrapper">
        <div class="left-arrow">
          <svg class="arrow-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-arrow-left" />
          </svg>
        </div>
        <p class="review-data">01 / 04</p>
        <div class="right-arrow">
          <svg class="arrow-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-arrow-right" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
