:root {
  --font-family: 'Nunito Sans', sans-serif;
  --second-family: 'Montserrat', sans-serif;

  --color-ttl: #333333;
  --color-text: #4f4f4f;
  --color-default: #6248ff;
  --color-hover: #7181fc;
  --color-focus: #354bf4;
  --color-disabled: #e0e0e0;
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family);
  color: var(--color-ttl);
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 56px;
    line-height: 118%;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    margin-bottom: 60px;
  }
}

p {
  font-size: 18px;
  line-height: 167%;
  font-family: var(--second-family);
  color: var(--color-text);
}

button {
  font-family: var(--font-family);
  color: #ffffff;
  background-color: var(--color-default);
  border-radius: 60px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 87%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: background-color 250ms;
}

button:hover {
  background-color: var(--color-hover);
}

button:focus {
  background-color: var(--color-focus);
}

a {
  font-family: var(--font-family);
  color: var(--color-ttl);
  transition: color 250ms;
}

a:hover {
  color: var(--color-hover);
}

.container {
  width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
