.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family);
  color: var(--color-ttl);
}

p {
  font-family: var(--second-family);
  color: var(--color-text);
}

button {
  font-family: var(--font-family);
  color: #ffffff;
  background-color: var(--color-default);
  border-radius: 60px;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 250ms;
}

button:hover {
  background-color: var(--color-hover);
}

button:focus {
  background-color: var(--color-focus);
}

a {
  font-family: var(--font-family);
  color: var(--color-ttl);
  transition: color 250ms;
}

a:hover {
  color: var(--color-hover);
}

:root {
  --font-family: 'Nunito Sans', sans-serif;
  /* --font-family: 'Museo Sans Cyrl', sans-serif; */
  --second-family: 'Montserrat', sans-serif;

  --color-ttl: #333333;
  --color-text: #4f4f4f;
  --color-default: #4f62f6;
  --color-hover: #7181fc;
  --color-focus: #354bf4;
  --color-disabled: #e0e0e0;
}
