.faq-wrapper {
  padding: 40px 20px 80px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-list-item {
  border: 2px solid var(--color-default);
  border-radius: 15px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.question-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  font-size: 18px;
}

.plus-icon {
  transition: transform 250ms;
}

.faq-list-item.open .plus-icon {
  transform: rotate(45deg);
}

.answer {
  font-size: 16px;
  line-height: 169%;
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 250ms;
}

.answer.open {
  max-height: 351px;
}

@media screen and (min-width: 768px) {
  .faq-wrapper {
    padding: 60px 40px 120px;
  }

  .faq-list-item {
    padding: 32px 40px;
  }

  .question {
    font-size: 24px;
  }

  .answer {
    margin-right: 50px;
  }
  .answer.open {
    max-height: 162px;
  }
}

@media screen and (min-width: 1440px) {
  .faq-wrapper {
    padding: 70px 120px 140px;
  }

  .faq-ttl {
    width: 483px;
  }

  .faq-list {
    width: 995px;
    margin-inline: auto;
  }

  .answer {
    margin-right: 165px;
  }

  .answer.open {
    max-height: 108px;
  }
}
