.header-section {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 15px;
  line-height: 107%;
  color: var(--color-ttl);
}

.navigation,
.burger-nav {
  display: flex;
  gap: 32px;
  font-weight: 700;
  font-size: 15px;
  line-height: 107%;
}

.navigation,
.lang-button,
.sign-in-btn {
  display: none;
}

.burger {
  cursor: pointer;
}

.lang-button,
.burger-lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #000000;
  border-radius: 60px;
  padding: 10px 16px;
  font-weight: 700;
  font-size: 15px;
  line-height: 107%;
  text-transform: uppercase;
  cursor: pointer;
  transition: border-color 250ms;
}

.lang-button:hover,
.burger-lang-btn:hover {
  border-color: var(--color-hover);
}

.lang-button {
  display: none;
}

.burger-overlay {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(17, 24, 39, 0.6);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms;
}

.burger-overlay.open {
  opacity: 1;
  visibility: visible;
}

.burger-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 250ms;
}

.burger-overlay.open .burger-modal {
  transform: translateX(0);
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 100%;
  transition: border 250ms;
}

.close-icon:hover {
  border-color: var(--color-hover);
}

.burger-lang-btn {
  width: 100px;
}

.burger-nav {
  flex-direction: column;
  gap: 16px;
}

.sign-in-burger {
  padding: 13px;
  width: 180px;
}

@media screen and (min-width: 768px) {
  .header-section {
    padding: 20px 40px;
  }

  .btns-wrapper {
    display: flex;
    align-items: center;
    gap: 48px;
  }

  .sign-in-btn {
    display: block;
    padding: 13px 24px;
  }

  .burger-modal {
    width: 40%;
    justify-content: start;
    padding: 50px;
  }

  .close-icon {
    top: 30px;
    right: 30px;
  }

  .burger-nav {
    align-self: center;
    margin-block: auto;
    gap: 25px;
    font-size: 17px;
  }

  .sign-in-burger {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-section {
    padding-inline: 60px;
  }

  .logo-nav {
    display: flex;
    gap: 57px;
  }

  .logo {
    margin-left: 60px;
  }

  .navigation {
    display: flex;
  }

  .btns-wrapper {
    gap: 24px;
  }

  .lang-button {
    display: flex;
  }

  .burger {
    display: none;
  }
}
